{% extends "front/layout.html" %}
{% load static %}

{% block title %}| О проекте{% endblock %}
{% block description %}{% endblock %}

{% block js %}<script src="{% static 'js/about.js' %}"></script>{% endblock %}

{% block navigator %}О проекте{% endblock %}

{% block content %}
<div id='page'>
    <div class='photo'>
         <img src='{% static 'img/author.jpg' %}'>
    </div>


<p>Здравствуйте! Я&nbsp;Никита Качаев. Мне всегда было сложно найти хорошую открытку для поздравления. С&nbsp;2007 года я&nbsp;собирал картинки иллюстраторов (<a href='https://vk.com/che_bel' target="_blank">&laquo;Черно-белое&nbsp;57&raquo;</a> и&nbsp;<a href='https://www.facebook.com/quqs.ru' target="_blank">QUQS на FB</a>).</p>
<p>Я&nbsp;написал всем &laquo;своим&raquo; иллюстраторам с&nbsp;предложением поучавствовать в&nbsp;проекте. Некоторые откликнулись. Так зимой 2013 года стартовал открыточный проект QUQS.</p>
<p>Об открытках. На&nbsp;обороте внизу: номер, имя автора и&nbsp;логотип QUQS. Так что есть место для поздравления или открытку можно отправить по&nbsp;почте.</p>
<p>Есть вопросы и предложения? <a href="mailto:a.quqs@yandex.ru">Пишите! a.quqs@yandex.ru</a></p>

</div>

{% endblock %}