{% extends "front/layout.html" %}
{% load static %}

{% block title %}| О проекте{% endblock %}
{% block description %}{% endblock %}

{% block js %}<script src="{% static 'js/about.js' %}"></script>{% endblock %}

{% block navigator %}О проекте{% endblock %}

{% block content %}
<div id='page'>
    <div class='photo'>
         <img src='{% static 'img/author.jpg' %}'>
    </div>


<p><b>Первое.</b> С&nbsp;2007 года я&nbsp;собираю картинки иллюстраторов, а&nbsp;в&nbsp;2013 году перенес блог на&nbsp;платформы вконткте <a target="_blank" href='https://vk.com/che_bel'>&laquo;Черно-белое 57&raquo;</a> и&nbsp;фейсбук <a target="_blank" href='https://www.facebook.com/quqs.ru'>QUQS</a>.</p>

<p>Второе. Мне всегда было сложно найти хорошую открытку для поздравления. И&nbsp;недавно я&nbsp;решил как-то улучшить ситуацию и&nbsp;написал всем &laquo;своим&raquo; иллюстраторам. Некоторые откликнулись, некоторые ждали запуска сайта, чтобы принять решение.</p>

<p>Поэтому сейчас можно купить около 30&nbsp;открыток с&nbsp;картинками иностранных иллюстраторов, а&nbsp;также нескольких отечественных иллюстраторов. Но&nbsp;я&nbsp;надеюсь на&nbsp;доброе увеличение количества авторов.</p>

<p>А&nbsp;скоро добавлю одну очень важную и&nbsp;интересную фишку для покупки открыток. Подписывайтесь на&nbsp;новости (не&nbsp;чаще одного раза в&nbsp;месяц):</p>

<div class='form'>
    <form method="POST">
        {% csrf_token %} {{ form.email }} <button id='subscribe'>подписаться</button>
        {% if form.errors %}

            <div class='errors'>
                {% for error in form.email.errors %}
                    {{error}}
                {% endfor %}
            </div>
        {% else %}
            {% if ok %}
                <div class='ok'>email успешно добавлен</div>
            {% endif %}
        {% endif %}
    </form>
</div>


<p>Есть вопросы и предложения? Буду рад вашему письму: kachaevn@yandex.ru</p>

</div>

{% endblock %}