{% extends "front/layout.html" %}
{% load static %}

{% block title %}| О проекте{% endblock %}
{% block description %}{% endblock %}

{% block js %}<script src="{% static 'js/about.js' %}"></script>{% endblock %}

{% block navigator %}О проекте{% endblock %}

{% block content %}
<div id='page'>
    <div class='photo'>
         <img src='{% static 'img/author.jpg' %}'>
    </div>


<p>Приветствую! Я&nbsp;Никита Качаев, придумавший этот проект. И&nbsp;в&nbsp;нём две составляющие.</p>
<p><b>Первое.</b> Мне всегда было сложно найти хорошую открытку для поздравления. И&nbsp;недавно я&nbsp;решил как-то улучшить ситуацию.</p>
<p><b>Второе.</b> С&nbsp;2007 года я&nbsp;собираю картинки иллюстраторов, а&nbsp;в&nbsp;2013 году перенес блог на&nbsp;платформы вконткте <a href='https://vk.com/che_bel' target="_blank">&laquo;Черно-белое&nbsp;57&raquo;</a> и&nbsp;фейсбук <a href='https://www.facebook.com/quqs.ru' target="_blank">QUQS</a>.</p>
<p>Я&nbsp;написал всем &laquo;своим&raquo; иллюстраторам с&nbsp;предложением поучавствовать в&nbsp;проекте. Некоторые откликнулись, некоторые ждали запуска сайта, чтобы принять решение. Поэтому сейчас можно купить около 30&nbsp;открыток с&nbsp;картинками иностранных иллюстраторов, а&nbsp;также нескольких российских иллюстраторов. Но&nbsp;я&nbsp;надеюсь на&nbsp;доброе увеличение количества авторов.</p>
<p>Открытки размером 10&nbsp;на 15&nbsp;сантиметров из&nbsp;толстенькой бумаги. На&nbsp;обороте внизу мелко написаны номер открытки, имя автора и&nbsp;логотип QUQS. Так что есть место для поздравления или открытку можно отправить по&nbsp;почте. Ах&nbsp;да, квадратная открытка 10&nbsp;на 10&nbsp;см.</p>
<p>Cкоро добавлю одну очень важную и&nbsp;интересную фишку для покупки открыток. Подписывайтесь на&nbsp;новости (не&nbsp;чаще одного раза в&nbsp;месяц):</p>

<div class='form'>
    <form method="POST">
        {% csrf_token %} {{ form.email }} <button id='subscribe'>подписаться</button>
        {% if form.errors %}

            <div class='errors'>
                {% for error in form.email.errors %}
                    {{error}}
                {% endfor %}
            </div>
        {% else %}
            {% if ok %}
                <div class='ok'>email успешно добавлен</div>
            {% endif %}
        {% endif %}
    </form>
</div>


<p>Есть вопросы и предложения? Буду рад вашему письму: <a class='mailto' href='{{ config.MY_EMAIL }}'>{{ config.MY_EMAIL }}</a></p>

</div>

{% endblock %}