{% load static %}
{% load url from future %}
<!DOCTYPE html>
<!--[if IE 8]><html class="no-js lt-ie9" lang="ru"> <![endif]-->
<!--[if gt IE 8]><!--><html lang="ru"> <!--<![endif]-->
<html>
    <head>
        <title>QUQS {% block title %}{% endblock %}</title>
        <meta name="description" content="{% block description %}Магазин открыток с картинками иностранных и российских иллюстраторов{% endblock %}">
        <meta name="keywords" content="quqs cute cards. дизайнерские, эксклюзивные, необычные, небанальные, прикольные, интересные, классные, непошлые, открытки. Авторские. Дорогие">
        <meta http-equiv="content-type" content="text/html; charset=utf-8">
        <link type="text/css" rel="stylesheet" href="{% static 'css/style.css' %}?x=1" charset="utf-8">
        <link rel="shortcut icon" href="http://quqs.ru/static/img/favicon.ico" type="image/x-icon">
        <link rel="icon" href="/favicon.ico" type="image/x-icon">
        <script src="{% static 'js/jquery-2.1.1.min.js' %}"></script>
        <script type="text/javascript" src="{% static 'django_ajax/js/jquery.ajax.min.js' %}"></script>
        {% block js %}{% endblock %}
    </head>
    <body>
        <header>
            <div id='logo'>

                <a href='/'>
                    <img src='{% static 'img/logo.png' %}'>
                </a>
            </div>
        </header>
        <div id='navigator'>{% block navigator %}{% endblock %}</div>
        <div id='content' class='cnt'>
            <div id='sitebar'>
                <div class='about'>
                    {% autoescape off %}{{ config.LEFT_TEXT }}{% endautoescape %}
                </div>
                <ul>
                    <li><a {% if action == 'shops' %} class='active' {% endif %} href='{% url "shops" %}'>где купить</a></li>
                    <li><a {% if action == 'about' %} class='active' {% endif %} href='{% url "about" %}'>о проекте</a></li>
                </ul>
                <div class='about'>
                    {{ config.MY_PHONE }} <br/>
                    <a class='mailto' href='{{ config.MY_EMAIL }}'>{{ config.MY_EMAIL }}</a>
                    <div id='social_links'>
                        <div class='link'>
                            <a href='http://instagram.com/quqs.ru/' target="_blank">
                                <img src='{% static 'img/in_.png' %}'>
                            </a>
                        </div>
                        <div class='link'>
                            <a href='https://www.facebook.com/quqs.ru/' target="_blank">
                                <img src='{% static 'img/fb_.png' %}'>
                            </a>
                        </div>
                        <div class='link'>
                            <a href='https://vk.com/che_bel' target="_blank">
                                <img src='{% static 'img/vk_.png' %}'>
                            </a>
                        </div>
                    </div>
                </div>
                <br>                <br>                <br>
                <ul><li><a href="http://kruzki.quqs.ru/"><img src="http://kruzki.quqs.ru/banner-230x213.jpg"></a></li></ul>                
            </div>
            {% block content %}{% endblock %}
        </div>
        <div id='footer'>&nbsp;</div>
    </body>
</html>

