{% load static %}
{% load url from future %}
<!DOCTYPE html>
<!--[if IE 8]><html class="no-js lt-ie9" lang="ru"> <![endif]-->
<!--[if gt IE 8]><!--><html lang="ru"> <!--<![endif]-->
<html>
    <head>
        <title>QUQS {% block title %}{% endblock %}</title>
        <meta name="description" content="{% block description %}Магазин открыток с картинками иностранных и российских иллюстраторов{% endblock %}">
        <meta name="keywords" content="quqs cute cards. дизайнерские, эксклюзивные, необычные, небанальные, прикольные, интересные, классные, непошлые, открытки. Авторские. Дорогие">
        <meta http-equiv="content-type" content="text/html; charset=utf-8">
        <link type="text/css" rel="stylesheet" href="{% static 'css/style.css' %}" charset="utf-8">
        <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon">
        <link rel="icon" href="/favicon.ico" type="image/x-icon">
        <script src="{% static 'js/jquery-2.1.1.min.js' %}"></script>
        <script type="text/javascript" src="{% static 'django_ajax/js/jquery.ajax.min.js' %}"></script>
        {% block js %}{% endblock %}
    </head>
    <body>
        <header>
            <div id='logo'>

                <a href='/'>
                    <img src='{% static 'img/logo.png' %}'>
                </a>
            </div>
        </header>
        <div id='navigator'>{% block navigator %}{% endblock %}</div>
        <div id='content' class='cnt'>
            <div id='sitebar'>
                <div class='about'>
                    Магазин открыток с&nbsp;картинками иностранных и&nbsp;российских иллюстраторов. Цена 70&nbsp;рублей. Всегда в&nbsp;наличии.
                </div>
                <ul>
                    <li><a {% if action == 'my_cards' %} class='active' {% endif %} id='my_cards' href='{% url "my_cards" my_cards_hash %}'>моя корзина</a> <span id='count_my_cards'>({{my_cards_count}})</span></li>
                    <li><a {% if action == 'shops' %} class='active' {% endif %} href='{% url "shops" %}'>где купить</a></li>
                    <li><a {% if action == 'about' %} class='active' {% endif %} href='{% url "about" %}'>о проекте</a></li>
                </ul>
                <div class='about'>
                    +7 926 277-69-49 <br/>
                    <a class='mailto' href='mailto:nikita@quqs.ru'>nikita@quqs.ru</a>
                </div>
            </div>
            {% block content %}{% endblock %}
        </div>
        <div id='footer'>&nbsp;</div>
    </body>
</html>
