{% extends "front/layout.html" %}
{% load static %}


{% block title %}| Где купить{% endblock %}
{% block description %}где купить открытки QUQS cute cards{% endblock %}

{% block navigator %}Где купить{% endblock %}

{% block content %}
<div id='page'>
Москва<br/><br/>
<a href='http://friends-book.msk.ru/nashi-kontaktyi/' target="_blank">Friends-Book.ru</a><br/>
Цена 150 рублей<br/>
м. Чистые Пруды, м. Лубянка<br/>
ул. Мясницкая, д.13, стр. 10, оф. 304<br/><br/>
ТЦ «Цветной» магазин <a href='http://www.depst.ru/about' target="_blank">DEPST</a><br/>
Цена 200 рублей<br/>
м. Цветной бульвар<br/>
Цветной бульвар, 15, стр. 1, –1 этаж

</div>
{% endblock %}