{% extends "front/layout.html" %}
{% load static %}


{% block title %}| Где купить{% endblock %}
{% block description %}где купить открытки QUQS cute cards{% endblock %}

{% block navigator %}Где купить{% endblock %}

{% block content %}
<div id='page'>
            Москва<br/><br/>
<a href="http://zakka.ru/service/contacts/">Zakka (ArtBox)</a><br>
ТЦ Мега Белая дача,<br>
ТРЦ Гагаринский (м. Ленинский проспект),<br>
Кунцево Плаза (м. Молодежная),<br>
ЦДМ (м. Лубянка),<br>
ТРЦ Авиапарк (м. Полежаевская/Динамо/Савеловская),<br>
ТЦ Мега Теплый стан<br>
ТЦ Мега Химки <br>
ТЦ Метрополис (м. Войковская)<br>
<br>

<a href="http://shaltai-boltai.ru/">Шалтай-Болтай</a><br>
ТДЦ Новинский (м. Баррикадная)<br>
Музей Москвы (м. Парк культуры)<br>
<br>

<a href="http://garageccc.com.garageccc.mtw.ru/ru/page/bookshop">Книжный магазин «Гараж»</a> (Парк Горького)<br>
<br>

<a href="http://www.depst.ru/">DEPST</a>, ТЦ «Цветной» (м. Цветной бульвар)<br>
<br>

<a href="https://www.instagram.com/klevopolka/">Клёвая полка</a>, ТЦ «Принц-плаза» (м. Теплый Стан)<br>
<br>

<a href="http://magicmag.net/">MagicMag</a> (м. Китай-город)<br>
<br>

<a href="http://www.kawaiibaumanka.com/">Kawaii Factory</a> (м. Бауманская)<br>
<br>

Открытки и кружки можно купить напрямую у нас. Обращайтесь по телефону +7 903 741-35-19 (Viber, WatsApp).
</div>
{% endblock %}