{% extends "front/layout.html" %}
{% load static %}


{% block title %}| Где купить{% endblock %}
{% block description %}где купить открытки QUQS cute cards{% endblock %}

{% block navigator %}Где купить{% endblock %}

{% block content %}
<div id='page'>
Москва<br/><br/>
ТЦ «Цветной», -1 этаж, магазин <a href='http://www.depst.ru/about' >DEPST</a><br/>
Цена 200 рублей<br/>
м. Цветной бульвар<br/>
Цветной бульвар, 15, стр. 1<br/><br/>
Салон красоты <a href='http://st-factory.ru/' >«Фабрика стиля»</a><br/>
Цена 200 рублей<br/>
м. Университет<br/>
Ломоносовский проспект, 25, стр. 3<br/><br/>
ГУМ, 3 этаж, линия 3, магазин <a href='http://www.shaltai-boltai.ru/'>«Шалтай-Болтай»</a><br/>
Цена 160 рублей<br/>
м. Охотный ряд<br/>
Красная площадь, 3<br/><br/>
ТК «Новинский», -1 этаж, магазин <a href='http://www.shaltai-boltai.ru/'>«Шалтай-Болтай»</a><br/>
Цена 160 рублей<br/>
м. Баррикадная<br/>
Новинский бульвар, 31<br/><br/>
«Гоголь-центр», книжный магазин <a href='http://gogolcenter.com/gogolbooks/'>«Гоголь books»</a><br/>
Цена 120 рублей<br/>
м. Курская<br/>
ул. Казакова, 8<br/><br/>
</div>
{% endblock %}